:root {
  /* --bg-color: #fbf9f1; */
  /* --text-color: #4e4e4e; */
  --text-main-light: rgba(240, 240, 250);
  --text-main-dark: rgba(0, 0, 0);

  --calendar-main: rgba(240, 240, 255, 0.05);
  --calendar-bg-1: rgba(240, 240, 255, 0.2);
  --calendar-bg-2: rgba(240, 240, 255, 0.5);

  --todo-main: rgba(240, 240, 255, 0.9);
  --todo-bg-1: rgba(240, 240, 255, 0.7);

  --day-active-bg: rgba(240, 240, 255);
}

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}
ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: 3rem;
}

html,
body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 62.5%;
  height: 100%;

  color: var(--text-main-light);
  line-height: 1;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.popup-greeting {
}
.popup-name {
}
.popup-name--input {
}
.main__container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  height: 90%;
  display: flex;
  gap: 5%;
}

.main_section {
  height: 100%;
  border-radius: 1rem;
  position: relative;
}
.main_left {
  flex: 1 1 65%;
  background: var(--calendar-main);
  backdrop-filter: blur(20px);
}

.main_section::after,
.main_section::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 1%;
  height: 97%;
  border-radius: 0 1rem 1rem 0;
  transform: translateY(-50%);
}
.main_section::before {
  height: 94%;
  left: 101%;
  background-color: var(--calendar-bg-2);
}
.main_left::after {
  background: var(--calendar-bg-1);
}
.main_right::after {
  background-color: var(--todo-bg-1);
}

.main_right {
  flex: 1 1 30%;
  backdrop-filter: blur(20px);
  background: var(--calendar-main);
  /* max-width: 30vw; */
}

.calendar-body {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.116);
}

.btn-navigation {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: transparent;
  color: var(--text-main-light);
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.btn-navigation:hover {
  background: rgba(255, 255, 255, 0.2);
}
.calendar-body--weekdays {
  display: flex;
  padding: 2%;
  font-size: 2rem;
  justify-content: space-around;
}

.grid--container {
  margin-top: 2rem;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /* row-gap: 8rem; */
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.day__box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  gap: 1rem;
  position: relative;
}
.day__box.event::after,
.day__box.event.selected::after {
  position: absolute;
  content: "";
  top: 85%;
  width: 30%;
  height: 5%;
  background-color: var(--todo-main);
}

.day__box.active {
  border: 1px solid var(--text-main-light);
}
.day__box.inactive {
  color: rgba(138, 138, 138, 0.808);
}
.day__box.selected {
  border: 3px dashed var(--text-main-light);
  background-color: rgba(138, 138, 138, 0.508);
}
.day__box.event.inactive::after {
  background-color: rgba(138, 138, 138, 0.808);
}

.day__box:hover {
  /* color: var(--text-main-light); */
  background: rgba(255, 255, 255, 0.2);
}

.tasks-body {
  padding: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 10rem;
}

.tasks-main--navigation {
  width: 100%;
}

.tasks-main__plans-to-do {
  padding: 3rem;
  /* border-bottom: 6px solid rgba(255, 255, 255, 0.116); */
  margin-bottom: 1rem;
}

.tasks-container_to-scroll {
  width: 100%;
  height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  position: relative;
}
.tasks-container_todo {
  cursor: pointer;
  padding-top: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.116);
  display: flex;
  min-height: 10rem;
  justify-content: space-between;
  transition: all 0.5s ease-out;
  /* height: max-content; */
}
.tasks-container_todo.hidden {
  /* color: transparent; */
  filter: blur(10px);
}

.tasks-container_todo--left {
  display: flex;
  width: 100%;
}

.tasks-container_todo-textbox {
  padding-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
  line-height: 1.9rem;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.tasks-container_todo-textbox:hover {
  background: rgba(255, 255, 255, 0.2);
}

.tasks-container_todo.active .tasks-container_todo--title,
.tasks-container_todo.active .tasks-container_todo--content {
  text-decoration: line-through;
}

.textarea-todo {
  height: fit-content;
  font-size: 1.8rem;
  width: 90%;
  background-color: transparent;
  color: var(--text-main-light);
  /* line-height: 2rem; */
  resize: none;
  overflow: hidden;
  outline: none;
  transition: all 0.3s ease;
}
.tasks-container_todo--title {
  font-size: 2.5rem;
}

.tasks-container_todo-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-small {
  background: transparent;
}
.btn-small svg {
  fill: rgb(156, 156, 156);
}

.edit-btn:hover .edit {
  fill: rgba(255, 227, 72, 0.85);
}

.close-delete-btn:hover .delete {
  fill: rgba(255, 0, 0, 0.85);
}
.done-btn-check:hover .check {
  fill: rgba(30, 212, 70, 0.85);
}

.tasks-container_todo.active .check {
  fill: rgba(30, 212, 70, 0.85);
}

.tasks-main__plans--block {
  display: flex;
  justify-content: space-between;
  /* height: fit-content; */
  border-bottom: 6px solid rgba(255, 255, 255, 0.116);
}
.todo-sort-buttons {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-sort-buttons.hidden {
  display: none;
}
.todo-sort-buttons button {
  padding: 0.5rem;
}

.default-btn:hover .default,
.default-btn.active .default,
.sort-btn:hover .sorted,
.sort-btn.active .sorted {
  fill: aliceblue;
}
.add-new-event {
  left: -100%;
  transition: all 0.5s ease-out;
}
.add-new-event.active {
  /* to the tasks-body */
  z-index: 1;
  position: absolute;
  border-radius: 1rem;
  min-width: max-content;
  /* background: transparent; */
  background: rgba(255, 255, 255, 0.2);
  color: var(--text-main-light);
  font-size: 3rem;
  display: flex;
  align-items: center;
  top: 100%;
  left: 100%;
  padding: 2rem;
  transform: translate(-100%, -100%);
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.add-new-event.active:hover {
  background: rgba(255, 255, 255, 0.4);
}

.add-new-event {
  display: none;
}

/* .task-add-form__container.active {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.task-add-form__container {
  display: none;
} */

.task-add-form__container {
  position: absolute;
  /* top: 100%; */
  left: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
}
.task-add-form__container.active {
  display: flex;
  position: relative;
  /* top: 0%; */
  left: 0%;
}

.name-event--input {
  font-size: 2rem;
  height: 8%;
  color: var(--text-main-light);
  background-color: rgba(255, 255, 255, 0.2);
}
label {
  padding: 1rem;

  font-size: 2.4rem;
}

.description-event--textarea {
  height: 70%;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--text-main-light);
  resize: vertical;
}

.bts-box {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: space-between;
}

.sqr-btn {
  height: 100%;
  width: 30%;
  background-color: transparent;
  color: var(--text-main-light);
  font-size: 2rem;
  transition: all 0.2s ease;
}
.sqr-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.plans-to-do--date {
  font-size: 1.9rem;
}

@media (max-width: 1780px) {
  .wrapper {
    overflow: scroll;
  }

  .main_left {
    flex: 1 1 55%;
  }
  .main_right {
    flex: 1 0 40%;
  }
}

@media (max-width: 1600px) {
  .current-month {
    font-size: 2.3rem;
  }

  .calendar-body-weekday {
    font-size: 1.9rem;
  }
  p {
    font-size: 1.6rem;
  }
  .btn-navigation {
    font-size: 1.6rem;
  }
  .navigation {
    font-size: 1.6rem;
  }
}

@media (max-width: 1400px) {
  .navigation,
  h2 {
    font-size: 1.8rem;
  }
  .calendar-body-weekday,
  h4 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.3rem;
  }
  .btn-navigation {
    font-size: 1.3rem;
  }
  .textarea-todo {
    font-size: 1.6rem;
  }
  .add-new-event.active {
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    top: 98%;
    left: 98%;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    overflow: scroll;
  }
  .main__container {
    flex-direction: column;
  }
  .main_left {
    min-height: 60%;
  }
  .main_right {
    min-height: 110%;
  }
  .navigation .btn-navigation {
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
  }
  .navigation .btn-navigation svg {
    color: var(--text-main-light);
  }
}

@media (max-width: 780px) {
  .navigation,
  .current-month,
  .current-date,
  h2 {
    font-size: 1.5rem;
  }
  .btn-small svg {
    height: 20px;
    width: 20px;
  }
}
