:root {
  --bg-main: #f5f7ff;
  --bg-white: #fff;

  --text-main: #272323;
  --text-input: #a5a5a5;
  --text-emphasized: #ff5c00;
  --text-hover: #4437ffd5;

  --btn-main-body: #544cac;
  --btn-main-body-hovered: #3f3888;
}

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  color: var(--text-main);
}
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  /* font-style: normal; */
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

[class*="__container"] {
  /* max-width: 1140px; */
  max-width: 1240px;
  /* max-width: 77%; */
  margin: 0 auto;
  padding: 0px 15px;
}
/* ________________________________________________________________________________________________________________ */

.header {
  background: var(--bg-main);
}
.navbar-block {
  display: flex;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
  padding-top: 24px;
  flex-wrap: wrap;

  letter-spacing: 0.02em;
}
.logo__img {
  cursor: pointer;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav__link {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: var(--text-hover);
  transition: all 0.3s ease 0s;
}

.nav__link.active {
  color: var(--text-hover);
}
.nav__link.active::after {
  width: 100%;
}

.nav__link:hover::after {
  width: 100%;
}
.nav__link:hover {
  color: var(--text-hover);
}

.search__field {
  background-color: var(--bg-white);
  border-radius: 50px;
  width: 27%;
  min-width: 307px;
  position: relative;
}
.search_field__input {
  background-color: transparent;
  margin-left: 8%;
  line-height: 35px;
  color: var(--text-input);
  width: 80%;
}
.search__button {
  position: absolute;
  width: 9%;
  min-width: 28px;
  height: 79%;
  top: 50%;
  left: 89%;
  transform: translateY(-49%);
  border-radius: 50%;
  background-color: var(--bg-main);
  cursor: pointer;
}

.log-link {
  color: inherit;
}
.log-link:hover {
  color: var(--text-hover);
}

.main-block {
  display: flex;
  padding-top: 51px;
}
.title-block {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 65px;
  gap: 10%;
}
.title {
  font-size: 45px;
  line-height: 55px;
  font-weight: 400;
  letter-spacing: 0.07em;
}
.title-orange {
  color: var(--text-emphasized);
}
.main-text {
  /* padding-top: 18px; */
  width: 543px;
  color: var(--text-input);
  font-size: larger;

  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.02em;
}
.buttons-block {
  display: flex;
  column-gap: 34px;
}
.discover-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 21px;
  border-radius: 6px;
  background: var(--btn-main-body);
  letter-spacing: 0.02em;
  color: #fff;
  cursor: pointer;
}
.discover-button:hover {
  background: var(--btn-main-body-hovered);
}

.on-play-bg {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.on-play-image {
  width: 100%;
}

.demo-btn-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
}
.demo-btn-box:hover {
  background: #9596992d;
}
.demo-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 20px;
  letter-spacing: 0.02em;
  color: #000;
}

.partners-block-items {
  margin-top: 40px;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  align-items: flex-end;
  /* gap: 64px; */
  width: 100%;
}
.partners-block__item {
  display: flex;
  height: 126px;
  width: 126px;
  justify-content: center;
  object-fit: cover;
}
.item-img {
  transform: scale(80%);
}

/* ________________________________________________________________________ */
.how-it-works-block {
  margin-top: 94px;
}
.how-it-works-block__subtitle {
  line-height: 17px;
  color: var(--text-emphasized);
  font-weight: 600;
}
.how-it-works-block__sides {
  display: flex;
  gap: 40px;
}
.how-it-works-block__expand-box {
  flex: 1 1 40%;
}
.how-it-works-block__video-box {
  flex: 1 1 60%;
}

.section-title {
  margin-top: 18px;
  font-size: 40px;
  line-height: 47px;
  /* font-weight: 600; */
}
.how-it-works-block__title {
  width: 393px;
}
.how-it-works-block__items {
  margin-top: 47px;
}
.how-it-works-block__item {
  max-width: 435px;
  background: #f5f7ff;
  border-radius: 8px;
  margin-bottom: 22px;
  padding: 14px;
  cursor: pointer;
  transition: all 0.4s ease-out 0s;
}
.how-it-works-block__item:hover {
  background-color: #bcc2ec49;
}

.how-it-works-block__item--block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.how-it-works-block__item--container {
  display: flex;
  justify-content: space-between;
}
.how-it-works-block__item--num {
  height: 30px;
  width: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 17px;
  font-size: 16px;
  font-weight: 600;
}
.item-1 {
  background-color: #f3e0ff;
  color: #9444c9;
}
.item-2 {
  background-color: #e7e9fe;
  color: #626fff;
}
.item-3 {
  background-color: #ffdecc;
  color: #ff5c00;
}
.how-it-works-block__item--titile {
  line-height: 17px;
  font-weight: 600;
  margin-left: 15px;
}
.how-it-works-block__item--arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.how-it-works-block__item--arrow .arrow-img {
  height: 10px;
  width: 17px;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrow-img {
  background-image: url("../img/main/arrow.png");
  transition: all 0.3s ease 0s;
}
.active .arrow-img {
  transform: rotate(180deg);
}

.how-it-works-block__item--text {
  display: none;
  margin-top: 10px;
  margin-left: 11%;
  color: #a8a8a8;
  font-size: 14px;
}

.active .how-it-works-block__item--text {
  display: block;
}

video {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

/* _______________________________WhyWe_______________________________________ */

.block {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-text {
  margin-top: 27px;
  width: 543px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #a8a8a8;
}

.items-container {
  display: flex;
  margin-top: 67px;
}

.whywe-block__items-container {
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}
.block__item {
  padding: 40px;
  background: #ffffff;
  box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.1);
  border-radius: 20px;
  transition: all 0.3s ease-out 0s;
}
.whywe-block__item {
  max-width: 350px;
  max-height: 254px;
}

.block__item:hover {
  transform: translateY(-20px);
  background: #f9faff;
  box-shadow: 0px 12px 30px rgba(71, 71, 71, 0.15);
}

.item--title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: #323232;
  margin-top: 21px;
}

.item--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #8f8f8f;
}
.whywe-block__item--bg {
  height: 60px;
  width: 60px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whywe-block__item--bg.item--bg-1 {
  background-color: #6156dc;
}
.whywe-block__item--bg.item--bg-2 {
  background-color: #ef6010;
}
.whywe-block__item--bg.item--bg-3 {
  background-color: #a73eed;
}

/* _____________________________________________________________ */

.features-block__items-container {
  margin-left: 250px;
  justify-content: center;
  gap: 35px;
  position: relative;
}

.features-block__item-navigation {
  position: absolute;
  top: 55%;
  left: -15%;
}
.block__item-navigation {
  display: flex;
  gap: 20px;
}
.block__item--btn {
  width: 60px;
  height: 60px;
  background: #f9faff;
  border-radius: 7px;
  transition: all 0.3s ease-out 0s;
}
.block__item--btn:hover,
.block__item--btn:hover path,
.features-block__item--btn.active path,
.features-block__item--btn.active {
  background: var(--text-emphasized);
  fill: white;
}
.features-block__item--btn-right {
}
.features-block__item--btn-left {
}
.features-block__item {
  width: 370px;
  height: 490px;
  padding: 37px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.features-block__item:hover {
  transform: translateY(-20px);

  background: #f9faff;
  box-shadow: 0px 12px 30px rgba(71, 71, 71, 0.15);
}

.features-block__item--expand {
  position: absolute;
  top: 8%;
  left: 83%;
  background: transparent;
}
.features-block__item-img--wrap {
  width: 103px;
  height: 103px;
  background: #fea06b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-block__item-img--wrap-img {
  z-index: 2;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
}

.features-block__item-img {
}
.features-block__item--job {
  margin-top: 42px;
  font-size: 20px;
  line-height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #323232;
}

.features-block__item--name {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #4238af;
}

.features-block__item--info-block {
  display: flex;
  flex-direction: column;
  /* gap: */
}
.features-block__item--location-location-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features-block__item--salary {
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.02em;

  color: #323232;
}
.features-block__item--salary span {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #a8a8a8;
}
.features-block__item--location {
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.02em;

  color: #323232;
}
.features-block__item-link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #a8a8a8;
}
.features-block__item--btns-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 12%; */
}
.features-block__item--like-btn {
}

.btn-main-purple {
  background-color: #38318b54;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  /* color: #ffffff; */
  border-radius: 47px;
  padding: 15px 34px;
  color: #38318b;
  transition: all 0.3s ease-out 0s;
}
.btn-main-purple:hover {
  background-color: #544cac;
  color: #ffffff;
}

/* .features-block__item--apply-btn {
}
.features-block__item--apply-btn:hover {
} */

.features-block__item--like-btn {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #f9faff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in 0s;
}

.features-block__item--like-btn:hover,
.features-block__item--like-btn:hover path {
  fill: #fff;
  background: #ff5c00;
}

.features-block__btn {
  margin-top: 22px;
  background-color: #544cac;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  border-radius: 47px;
  padding: 15px 34px;
  /* color: #38318b; */
  transition: all 0.3s ease-out 0s;
}
.features-block__btn:hover {
  background: #3f3888;
}

/* __________________________________________________________________________________________________________ */

.customers-block__title {
}
.section-title {
}
.section-text {
}
.customers-block__items-container {
  width: 100%;
  gap: 30px;
  /* position: relative; */
  /* overflow: hidden; */
}

.customers-block__items-block-avatar--bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 352px;
  width: 352px;
  border-radius: 50% 3% 50% 50%;
  background-color: #1fb800a6;
  position: relative;
}

.customers-block__items-block-avatar-container {
  background: url("../img/main/whywe/avatar.png") #ced5f4;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-radius: 50% 3% 50% 50%;
}
.customers-block__items-block-avatar-icon-1 {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 0%;
  width: 46px;
  height: 46px;
  background-image: url("../img/main/whywe/icon-1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.customers-block__items-block-avatar-icon-2 {
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 20%;
  width: 46px;
  height: 69px;
  background-image: url("../img/main/whywe/icon-2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.customers-block__items-block-feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customers-block__items-cover {
  height: 100%;
  width: 731px;
  position: relative;
  overflow: hidden;
}
.customer--slide {
  position: absolute;
  top: 10%;
  width: 731px;
  transition: transform 1s;
}

.customers-block__item--btn.active path,
.customers-block__item--btn.active {
  background: var(--text-emphasized);
  fill: white;
}
.customers-block__items-block-customer-name {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #323232;
}
.customers-block__items-block-customer-job {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #868686;
  margin-bottom: 25px;
}
.customers-block__items-block-customer-feedback {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #383838;
}

/* __________________________________________________________________________________________________________ */

.customers-block__counter {
  margin-top: 120px;
  width: 100%;
  /* width: 1110px; */
  height: 229px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  background: #ced5f4;
  border-radius: 30px;
}
.customers-block__counter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.customers-block__counter-box--num {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.05em;

  color: #584ec6;
}
.customers-block__counter-box--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  color: #ffffff;
}

/* ____________________________________________________________ */

.pricing-block__items-container {
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.pricing-block__item {
  flex: 1 1 auto;
  height: 535px;
}

.pricing-block {
}
.block {
}
.pricing-block__title {
}
.section-title {
}
.section-text {
}
.pricing-block__items-container {
}
.items-container {
}
.pricing-block__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block__item {
}
.pricing-block__item--title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #4238af;
}
.item--title {
}
.pricing-block__item-price {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.07em;
  color: #353434;
}
.pricing-block__item-mothly {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #8a86b9;
}
.pricing-block__item-conditions {
  margin-top: 74px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing-block__item-condition {
  position: relative;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #a8a8a8;
}
.pricing-block__item-condition::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/main/footer/bulletpoint.svg");
}
.pricing-block__item-button {
  margin-top: 20%;
}

/* _____________________________________________________________________________ */

footer {
  margin-top: 110px;
  background-color: #dbe2ff;
  border-radius: 30px 30px 0px 0px;
}
.footer__container {
  height: 300px;
  width: 100%;
}

.footer-block__list-grid {
  margin-top: 110px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 48px;
  grid-template-rows: 1fr;
  /* align-items: stretch; */

  /* justify-items: stretch; */
  /* grid-template-rows: 163px; */
}
.footer-block__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 163px;
}
.footer-block__list--title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #353434;
}
.footer-block__list--ul {
}
.footer-block__list--li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #717171;
}
/* ______________________________________________ */

.add-info__container {
  /* justify-content: space-around; */
}
.add-info--wrapper {
  width: 100%;
  border-top: 3px solid #625bae;
  padding: 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-small-box {
}
.logo-small-img {
}
.add-info--links {
  display: flex;
  width: 601px;
  align-items: center;
  justify-content: space-between;
}
.add-info--link {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #3a2e5c;
}
.add-info-btns--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* justify-content: space-around; */
}
.add-info-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0s;
}

.add-info-btn:hover,
.add-info-btn:hover path {
  transform: scale(104%);
  background-color: #4238afcf;
  fill: #ffffff;
}
/* ____________________________________________________________________ */
