:root {
  --bg-main: #f5f7ff;
  --bg-white: #fff;

  --text-main: #272323;
  --text-input: #a5a5a5;
  --text-emphasized: #ff5c00;
  --text-hover: #4437ffd5;

  --btn-main-body: #544cac;
  --btn-main-body-hovered: #3f3888;
}

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  color: var(--text-main);
}
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  /* font-style: normal; */
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

[class*="__container"] {
  /* max-width: 1140px; */
  max-width: 1240px;
  /* max-width: 77%; */
  margin: 0 auto;
  padding: 0px 15px;
}
/* ________________________________________________________________________________________________________________ */

.header {
  background: var(--bg-main);
}
.header__navbar {
  display: flex;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
  padding-top: 24px;
  flex-wrap: wrap;
  letter-spacing: 0.02em;
}

.header__logo-img {
  cursor: pointer;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 35px;
}

.navbar__link {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
}

.navbar__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: var(--text-hover);
  transition: all 0.3s ease 0s;
}

.navbar__link.active {
  color: var(--text-hover);
}
.navbar__link.active::after {
  width: 100%;
}

.navbar__link:hover::after {
  width: 100%;
}
.navbar__link:hover {
  color: var(--text-hover);
}

.navbar__search {
  background-color: var(--bg-white);
  border-radius: 50px;
  width: 27%;
  min-width: 307px;
  position: relative;
}
.navbar__search-input {
  background-color: transparent;
  margin-left: 8%;
  line-height: 35px;
  color: var(--text-input);
  width: 80%;
}
.navbar__search-button {
  position: absolute;
  width: 9%;
  min-width: 28px;
  height: 79%;
  top: 50%;
  left: 89%;
  transform: translateY(-49%);
  border-radius: 50%;
  background-color: var(--bg-main);
  cursor: pointer;
}

.navbar__auth-link {
  color: inherit;
}
.navbar__auth-link:hover {
  color: var(--text-hover);
}

@media (max-width: 600px) {
  .header__navbar {
    flex-direction: column;
  }
}
/* _______________________________________________________________________________________ */

.header__main {
  display: flex;
  padding-top: 51px;
}
.main__title {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 65px;
  gap: 10%;
}
.main__heading {
  font-size: 45px;
  line-height: 55px;
  font-weight: 400;
  letter-spacing: 0.07em;
}
.main__heading--orange {
  color: var(--text-emphasized);
}
.main__text {
  /* padding-top: 18px; */
  width: 543px;
  color: var(--text-input);
  font-size: larger;

  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.02em;
}
.main__buttons {
  display: flex;
  column-gap: 34px;
}
.main__button--discover {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 21px;
  border-radius: 6px;
  background: var(--btn-main-body);
  letter-spacing: 0.02em;
  color: #fff;
  cursor: pointer;
}
.main__button--discover:hover {
  background: var(--btn-main-body-hovered);
}

.main__demo {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
}
.main__demo:hover {
  background: #9596992d;
}

.main__demo-play {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main__demo-icon {
  width: 100%;
  padding: 1px;
}

.main__demo-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 20px;
  letter-spacing: 0.02em;
  color: #000;
}
@media (max-width: 1200px) {
  .header__main {
    display: flex;
    flex-direction: column;
    padding-top: 51px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .header__main {
    display: flex;
    flex-direction: column;
    padding-top: 51px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .main__title {
    padding-top: 25px;
    gap: 20px;
  }
  .main__heading {
    font-size: 35px;
  }
  .main__heading--orange {
    color: var(--text-emphasized);
  }
  .main__text {
    width: 90%;
    font-size: larger;
  }
  .main__buttons {
    display: flex;
    column-gap: 34px;
  }
  .main__button--discover {
    font-size: 13px;
    padding: 15px 16px;
  }
  .main__button--discover:hover {
    background: var(--btn-main-body-hovered);
  }
  .main__demo-button {
    font-size: 13px;
  }
  .main__image {
    margin-top: 20px;
  }
  .main__image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* @media () */
/* _____________________________Header_______________________________________ */

.partners__items {
  margin-top: 40px;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  align-items: flex-end;
  /* gap: 64px; */
  width: 100%;
}
.partners__item {
  display: flex;
  height: 126px;
  width: 126px;
  justify-content: center;
}
.partners__item-img {
  transform: scale(80%);
}

@media (max-width: 1200px) {
  .partners__item {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 900px) {
  .partners__item {
    height: 80px;
    width: 80px;
  }
}
@media (max-width: 700px) {
  .partners__items {
    display: none;
  }
}
/* _____________________Partners___________________________________________________ */
.how-it-works__container {
  margin-top: 94px;
}
.how-it-works__subtitle {
  line-height: 17px;
  color: var(--text-emphasized);
  font-weight: 600;
}
.how-it-works__sides {
  display: flex;
  gap: 40px;
}
.how-it-works__expand-box {
  flex: 1 1 40%;
}
.how-it-works-block__video-box {
  flex: 1 1 60%;
}

.section-title {
  margin-top: 18px;
  font-size: 40px;
  line-height: 47px;
}
.how-it-works__title {
  width: 393px;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 1px;
}
.how-it-works__items {
  margin-top: 47px;
}
.how-it-works__item {
  width: 435px;
  background: #f5f7ff;
  border-radius: 8px;
  padding: 14px;
  cursor: pointer;
  transition: all 0.4s ease-out 0s;
}
.how-it-works__item:not(:last-child) {
  margin-bottom: 22px;
}
.how-it-works__item:hover {
  background-color: #bcc2ec49;
}

.how-it-works__item-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.how-it-works__item-container {
  display: flex;
  justify-content: space-between;
}
.how-it-works__item-num {
  height: 30px;
  width: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 17px;
  font-size: 16px;
  font-weight: 600;
}
.item-1 {
  background-color: #f3e0ff;
  color: #9444c9;
}
.item-2 {
  background-color: #e7e9fe;
  color: #626fff;
}
.item-3 {
  background-color: #ffdecc;
  color: #ff5c00;
}
.how-it-works__item-title {
  line-height: 17px;
  font-weight: 600;
  margin-left: 15px;
}
.how-it-works__item-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.how-it-works__item-arrow .arrow-img {
  height: 10px;
  width: 17px;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrow-img {
  background-image: url("../img/main/arrow.png");
  transition: all 0.3s ease 0s;
}
.active .arrow-img {
  transform: rotate(180deg);
}

.how-it-works__item-text {
  display: none;
  margin-top: 10px;
  margin-left: 11%;
  color: #a8a8a8;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.active .how-it-works__item-text {
  display: block;
}

video {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

@media (max-width: 1200px) {
  .how-it-works__expand-box {
    flex: 1 1 60%;
  }
  .how-it-works-block__video-box {
    flex: 0 1 40%;
  }
  .how-it-works__item {
    width: 100%;
  }

  /* video {
    width: 500px;
    height: auto;
  } */

  .how-it-works__video-box {
    margin-top: 10%;
  }
}
@media (max-width: 1000px) {
  .how-it-works__sides {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .how-it-works__video-box {
    margin-top: 1%;
  }
}
/* why-choose-us_______________________________________ */

.block {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-text {
  margin-top: 27px;
  width: 100%;
  max-width: 543px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #a8a8a8;
}

.items-container {
  display: flex;
  margin-top: 67px;
}

.why-choose-us__items-container {
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}
.block__item {
  padding: 40px;
  background: #ffffff;
  box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.1);
  border-radius: 20px;
  transition: all 0.3s ease-out 0s;
}
.why-choose-us__item {
  width: 350px;
  height: 254px;
}

.block__item:hover {
  transform: translateY(-20px);
  background: #f9faff;
  box-shadow: 0px 12px 30px rgba(71, 71, 71, 0.15);
}

.item--title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: #323232;
  margin-top: 21px;
}

.item--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #8f8f8f;
}
.why-choose-us__item-bg {
  height: 60px;
  width: 60px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-choose-us__item-bg.item-bg-1 {
  background-color: #6156dc;
}
.why-choose-us__item-bg.item-bg-2 {
  background-color: #ef6010;
}
.why-choose-us__item-bg.item-bg-3 {
  background-color: #a73eed;
}

@media (max-width: 1000px) {
  .why-choose-us__item {
    min-width: 240px;
    height: fit-content;
  }
}
@media (max-width: 830px) {
  .items-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
}
/* _____________________________________________________________ */

.features-block__items-container {
  margin-left: 250px;
  justify-content: center;
  gap: 35px;
  position: relative;
}

.items-container__navigation {
  position: absolute;
  top: 55%;
  left: -15%;
}
/* .block__item-navigation { */
.navigation {
  display: flex;
  gap: 20px;
}
.navigation__button {
  width: 60px;
  height: 60px;
  background: #f9faff;
  border-radius: 7px;
  transition: all 0.3s ease-out 0s;
}
.navigation__button:hover,
.navigation__button:hover path,
.features-block__button.active path,
.features-block__button.active {
  background: var(--text-emphasized);
  fill: white;
}

.features-block__item {
  width: 370px;
  height: 490px;
  padding: 37px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.features-block__item:hover {
  transform: translateY(-20px);

  background: #f9faff;
  box-shadow: 0px 12px 30px rgba(71, 71, 71, 0.15);
}

.features-block__item-expand {
  position: absolute;
  top: 8%;
  left: 83%;
  background: transparent;
}
.features-block__item-image--wrapper {
  width: 103px;
  height: 103px;
  background: #fea06b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-block__item-image {
  z-index: 2;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
}

.features-block__item-job {
  margin-top: 42px;
  font-size: 20px;
  line-height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #323232;
}

.features-block__item-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #4238af;
}

.features-block__item-info {
  display: flex;
  flex-direction: column;
  /* gap: */
}
.features-block__item-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features-block__item-salary {
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.02em;

  color: #323232;
}
.features-block__item-salary span {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #a8a8a8;
}
.features-block__item-location {
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.02em;

  color: #323232;
}
.features-block__item-location-link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #a8a8a8;
}
.features-block__item-btns-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 12%; */
}
.features-block__item--like-btn {
}

.btn-main-purple {
  background-color: #38318b54;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  /* color: #ffffff; */
  border-radius: 47px;
  padding: 15px 34px;
  color: #38318b;
  transition: all 0.3s ease-out 0s;
}
.btn-main-purple:hover {
  background-color: #544cac;
  color: #ffffff;
}

.features-block__item--like-btn {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #f9faff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in 0s;
}

.features-block__item--like-btn:hover,
.features-block__item--like-btn:hover path {
  fill: #fff;
  background: #ff5c00;
}

.features-block__btn {
  margin-top: 22px;
  background-color: #544cac;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  border-radius: 47px;
  padding: 15px 34px;
  /* color: #38318b; */
  transition: all 0.3s ease-out 0s;
}
.features-block__btn:hover {
  background: #3f3888;
}
@media (max-width: 1480px) {
  .features-block__items-container {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
  }
  .items-container__navigation {
    z-index: 1;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
  }
  .features-block__btn {
    margin-top: 120px;
  }
}

/* __________________________________________________________________________________________________________ */

.customers-block__items-container {
  width: 100%;
  gap: 30px;
}

.customers-avatar--bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 352px;
  width: 352px;
  border-radius: 50% 3% 50% 50%;
  background-color: #1fb800a6;
  position: relative;
}

.customers-avatar--container {
  background: url("../imgs/main/why-choose-us/user-banner.png") #ced5f4;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-radius: 50% 3% 50% 50%;
}
.customers-avatar--icon-1 {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 0%;
  width: 46px;
  height: 46px;
  background-image: url("../imgs/main/why-choose-us/icon-dots.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.customers-avatar--icon-2 {
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 20%;
  width: 46px;
  height: 69px;
  background-image: url("../imgs/main/why-choose-us/icon-shape.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.customers-block__feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customers-block__feedback--wrapper {
  height: 100%;
  width: 731px;
  position: relative;
  overflow: hidden;
}
.customer__slide {
  position: absolute;
  top: 10%;
  width: 731px;
  transition: transform 1s;
}

.customer-name {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #323232;
}
.customer-job {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #868686;
  margin-bottom: 25px;
}
.customer-feedback {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #383838;
}
@media (max-width: 1200px) {
  .customers-block__items-container {
    flex-direction: column;
    align-items: center;
  }
  .customers-block__feedback--wrapper {
    width: 80vw;
    height: 35vh;
  }
  .customer__slide {
    width: 80vw;
    height: 35vh;
  }
}
@media (max-width: 800px) {
  .customers-block__feedback--wrapper {
    height: 45vh;
  }
  .customer__slide {
    height: 45vh;
  }
}
@media (max-width: 400px) {
  .customers-block__items-container {
    flex-direction: column;
    align-items: center;
  }
  .customers-block__feedback--wrapper {
    width: 80vw;
    height: 55vh;
  }
  .customer__slide {
    width: 80vw;
    height: 55vh;
  }
}

/* __________________________________________________________________________________________________________ */

.customers__counter {
  margin-top: 120px;
  width: 100%;
  /* width: 1110px; */
  height: 229px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  background: #ced5f4;
  border-radius: 30px;
}
.customers__counter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.customers__counter-box--num {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.05em;
  color: #584ec6;
}
.customers__counter-box--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  color: #ffffff;
}

@media (max-width: 800px) {
  .customers__counter {
    flex-direction: column;
    height: 100%;
    padding: 20px 0px;
  }
}

/* ____________________________________________________________ */

.pricing-plan-container {
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.pricing-plan {
  flex: 1 1 auto;
  height: 535px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-plan__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #4238af;
}

.pricing-plan__price {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.07em;
  color: #353434;
  padding: 20px;
}
.pricing-plan__monthly {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #8a86b9;
}
.pricing-plan__conditions {
  margin-top: 74px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing-plan__conditions--item {
  position: relative;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #a8a8a8;
}
.pricing-plan__conditions--item::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../imgs/main/bulletpoint.svg");
}
.pricing-plan__button {
  margin-top: 20%;
}

@media (max-width: 1000px) {
  .pricing-plan-container {
    flex-direction: column;
    align-items: center;
  }
  .pricing-plan {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .pricing-plan {
    width: 70%;
    padding: 8px;
  }
  .pricing-plan__conditions {
    margin-top: 10px;
  }
}
/* _____________________________________________________________________________ */

footer {
  margin-top: 110px;
  background-color: #dbe2ff;
  border-radius: 30px 30px 0px 0px;
}
.footer__container {
  height: 300px;
  width: 100%;
}

.footer-block__list-grid {
  margin-top: 110px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 48px;
  grid-template-rows: 1fr;
  /* align-items: stretch; */

  /* justify-items: stretch; */
  /* grid-template-rows: 163px; */
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 163px;
}
.footer__list--title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #353434;
}
.footer__list-item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #717171;
}

@media (max-width: 1000px) {
  .footer-block__list-grid {
    column-gap: 1%;
  }
  .footer-block__list-grid {
    margin-left: 40px;
  }
}
@media (max-width: 800px) {
  .footer-block__list-grid {
    display: none;
  }
  .footer__container {
    height: 70px;
  }
}

/* ______________________________________________ */

.additional-info__wrapper {
  width: 100%;
  border-top: 3px solid #625bae;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.additional-info__nav-links {
  display: flex;
  width: 601px;
  align-items: center;
  justify-content: space-between;
}
.additional-info__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #3a2e5c;
  cursor: pointer;
}
.additional-info-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* justify-content: space-around; */
}
.additional-info__btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0s;
}

.additional-info__btn:hover,
.additional-info__btn:hover path {
  transform: scale(104%);
  background-color: #4238afcf;
  fill: #ffffff;
}
@media (max-width: 1480px) {
  .additional-info__nav-links {
    padding-top: 20px;
    width: 100%;
  }

  .additional-info__wrapper {
    flex-direction: column-reverse;
  }
}
@media (max-width: 580px) {
  .additional-info__nav-links {
    padding-top: 20px;
    flex-direction: column;
    width: 100%;
  }
}
/* ____________________________________________________________________ */
